%h1 Welcome to Andrew's FizzBuzz Checker-Thingy!

%p Please enter anything you want in the form below and submit. If it is an integer, it will return "Fizz" if the number is a multiple of 3, "Buzz" if the number is a multiple of 5, "FizzBuzz" if it is a multiple of 3 AND 5, or the original number if none of the above is true. If you enter something other than an integer, you should receive an error message asking you to resubmit and enter an integer.

%p (By the way, in case you're not 'in the know', an integer is a number without a decimal place. So, '1' is cool, but '1.0' is not. Non-integer numbers will be converted to integers by dropping what comes after the decimal place.)

%input{:type => 'text', :id => 'num', :name => 'num'}
%button Is it FizzBuzzy?

#response